/**
*
* Colours named using http://chir.ag/projects/name-that-color/#FFFFFF
*
**/
$colour-black: #000;
$colour-white: #fff;
$colour-mine-shaft: #333;
$colour-alabaster: #f7f7f7;
$colour-jelly-bean: #237b98;
$colour-blumine: #1c627a;
$colour-valencia: #da3743;
$colour-cardinal: #b8222d;

$primary-text-colour: $colour-mine-shaft;
$primary-btn-bg-colour: $colour-jelly-bean;
$primary-btn-bg-colour--hover: $colour-blumine;
$primary-background-colour: $colour-alabaster;
$error-colour: $colour-cardinal;
