/**
*
* Import fonts
*
**/

$font-lato: 'Lato', Arial, Helvetica, Verdana, sans-serif;
$font-arial: Arial, Helvetica, Verdana, sans-serif;

$font-title: $font-lato;
$font-primary: $font-arial;

$font-weight-normal: 400;
$font-weight-bold: 700;