.menu {
	padding: $standard-padding;
	background-color: $primary-background-colour;
}

.menu__wrapper {
	position: relative;
	max-width: 600px;
	margin: 0 auto 20px;
	padding: $standard-padding;
	background-color: $colour-white;
	border-radius: $border-radius;
}

.menu__table {
	width: 100%;
}

.menu__intro {
	padding-bottom: $standard-padding;
	margin-bottom: 20px;
	strong{
		font-style: italic;
	}
}

.menu__column-blank--1 {
	width: 0;
}

.menu__column-heading {
	@include font-size(14);
	@include line-height(16);
	text-align: center;
	color: $primary-btn-bg-colour;
	font-weight: 700;

	/* 	Have to specify font size and line height explicity inside of media query. 
		This is because SASS will not let you @extend an outer selector from within @media */
	@media screen and (min-width: $large-mobile-breakpoint) {
		font-size: 20px;
		font-size: 2.0rem;
		line-height: 22px;
		line-height: 2.2rem;
		text-align: center;
		margin-bottom: 0;
	}

}

.menu__category {
	@extend h3;
	padding: 10px 0 5px;
	color: $primary-btn-bg-colour;

	&--0 {
		/* Allow Diner 1 and Diner 2 column headings closer in */
		padding-top: 5px;
	}
}

.menu__description {
	@include font-size(14);
	@include line-height(17);
	width: 60%;
	vertical-align: middle;
	
	&--1 {
		width: 0;
		label {
			display: none;
		}
	}

	/* 	Have to specify font size and line height explicity inside of media query. 
		This is because SASS will not let you @extend an outer selector from within @media */
	@media screen and (min-width: $large-mobile-breakpoint) {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 22px;
		line-height: 2.2rem;
	}

}

.menu__choice {
	width: 20%;
	vertical-align: middle;
	text-align: center;
}

/* 
*	Checkboxes
*/

input[type='checkbox'] {
	-moz-appearance: none;
	-webkit-appearance:none;
	width: 21px;
	height: 21px;
	background-color: $colour-white;
	border-radius: $border-radius;
	border: 1px solid $primary-btn-bg-colour;
	}
input[type='checkbox']:checked {
    background-color: $primary-btn-bg-colour;
}

/* 
*	Menu total cost and summary section
*/

.menu__summary {
	@extend .menu__wrapper;
	text-align: center;
}

.menu__cost-wrapper {
	display: block;
	margin-bottom: 20px;

	@media screen and (min-width: $large-mobile-breakpoint) {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		margin-bottom: 0;
		text-align: left;
	}

}

.menu__order {

	@media screen and (min-width: $large-mobile-breakpoint) {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		margin-left: -6px;
		text-align: right;
	}
}

.menu__total {
	margin-bottom: 0;
}

/* 
*	Error messages
*/

.menu__errors {
	color: $error-colour;
	text-align: left;
}

.menu__error {
	/* Messages triggered on and off with javaScript via their id hook */
	display: none;
}

.menu__waiter {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    background-color: $colour-valencia;
    border-radius: 50%;
	transform: scale(0);
	will-change: transform;
	transition: transform 0.3s ease-in-out;
}

.menu--waiter-live .menu__waiter {
	transform: scale(1);
}

/* 
*	Success messages
*/

.menu__success {
	/* Message triggered on and off with javaScript via their id hook */
	display: none;
	color: $colour-apple;
	@include font-size(22);
	@include line-height(26);
	text-align: center;
	@media screen and (min-width: $large-mobile-breakpoint) {
		text-align: left;
	}
}

/* 
*	The order now button
*/

.menu__button {
	@include font-size(22);
	@include line-height(22);
	padding: 15px 30px;
	border: 0;
	color: $colour-white;
	background-color: $primary-btn-bg-colour;
	transition: background-color 0.3s ease-in;
	border-radius: $border-radius;

	&:hover {
		background-color: $primary-btn-bg-colour--hover;
		cursor: pointer;
	}
}